<ion-header class="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="9">
        <ion-icon (click)="goBack()" name="caret-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="3"> <span (click)="logout()">Logout</span></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>
          Dear
          <!-- {{ (loggedUser$ | async)?.data?.first_name }} -->
          , please fill the
          required details
        </h2>
        <mat-horizontal-stepper [linear]="isLinear" #stepper style="background-color: lightgray; border-radius: 10px">
          <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
            <form [formGroup]="firstFormGroup">

              <mat-form-field *ngIf="filteredTanks$ | async as filteredTanks">
                <mat-label>Depot Name</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="depotName"
                  [matAutocomplete]="auto" />
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                  (optionSelected)="onTankChange($event.option.value, filteredTanks)">
                  <mat-option *ngFor="let option of filteredTanks" [value]="option">
                    {{ option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <!-- <mat-label>Depot Tank</mat-label>
                 <mat-form-field>
              <input type="tel" matInput formControlName="depotTank" required />
              </mat-form-field> -->

              <mat-form-field *ngIf="filteredTanks3$ | async as filteredTanks3">
                <mat-label>Depot tank</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="depotTank"
                  [matAutocomplete]="auto3" />
                <mat-autocomplete autoActiveFirstOption #auto3="matAutocomplete"
                  (optionSelected)="onTankChange($event.option.value, filteredTanks3)">
                  <mat-option *ngFor="let option of filteredTanks3" [value]="option">
                    {{ option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field *ngIf="filteredTanks1$ | async as filteredTanks1">
                <mat-label>Destination</mat-label>
                <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="destination"
                  [matAutocomplete]="auto1" />
                <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete"
                  (optionSelected)="onTankChange($event.option.value, filteredTanks1)">
                  <mat-option *ngFor="let option of filteredTanks1" [value]="option">
                    {{ option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>


              <div class="stepper-btn">
                <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup">
              <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
              <mat-form-field>
                <mat-label>Reciept Number</mat-label>
                <input type="tel" matInput formControlName="reciptNumber" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Meter Ticket Number
                </mat-label>
                <input type="tel" matInput required formControlName="meterticketnumberlpdnumber" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>LPD Number

                </mat-label>
                <input type="tel" matInput required formControlName="lpdNumber" />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Date</mat-label>
                <input type="text" matInput formControlName="date" [value]="currentdate | date:'dd/mm/yyyy'" required />
              </mat-form-field>

              <!-- <mat-form-field>
                <mat-label>Depot Tank</mat-label>
                <input type="tel" matInput formControlName="depotTank" required />
              </mat-form-field> -->


              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
              </div>
            </form>
          </mat-step>

          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup">
              <mat-form-field>
                <mat-label>Truck License Number</mat-label>
                <input type="tel" matInput formControlName="truckLicenseNumber" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Truck Driver</mat-label>
                <input type="tel" matInput required formControlName="truckDriver" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Volume Loaded at Depot</mat-label>
                <input type="tel" matInput formControlName="volumeLoadeatdepot" required />
              </mat-form-field>
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Compartment
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <mat-label>Liquid Height
                    </mat-label>
                    <input matInput type="number" formControlName="liquidHeight" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Ullage
                    </mat-label>
                    <input matInput type="number" formControlName="ullage" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Volume
                    </mat-label>
                    <input matInput type="number" formControlName="volume" required>
                  </mat-form-field>

                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Compartment1
                    </mat-panel-title>

                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <mat-label>Liquid Height
                    </mat-label>
                    <input matInput type="number" formControlName="liquidHeight1" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Ullage
                    </mat-label>
                    <input matInput type="number" formControlName="ullage1" required>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Volume
                    </mat-label>
                    <input matInput type="number" formControlName="volume1" required>
                  </mat-form-field>
                </mat-expansion-panel>
              </mat-accordion>

              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="thirdFormGroup.invalid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <div class="list">
              <span><b>Depot Name</b></span>
              <span>{{ firstFormGroup.get("depotName").value }}</span>
            </div>
            <div class="list">
              <span><b>Depot Tank</b></span>
              <span>{{ firstFormGroup.get("depotTank").value }}</span>
            </div>
            <div class="list">
              <span><b>Destination</b></span>
              <span>{{ firstFormGroup.get("destination").value }}</span>
            </div>

            <div class="list">
              <span><b>Reciept Number</b></span>
              <span>{{ secondFormGroup.get("reciptNumber").value }}</span>
            </div>
            <div class="list">
              <span><b>LPD Number</b></span>
              <span>{{ secondFormGroup.get("lpdNumber").value }}</span>
            </div>
            <div class="list">
              <span><b>Meter Ticket Number</b></span>
              <span>{{ secondFormGroup.get("meterticketnumberlpdnumber").value }}</span>
            </div>
            <div class="list">
              <span><b>Date</b></span>
              <span>{{ secondFormGroup.get("date").value | date :'dd/MM/yyyy' }}</span>
            </div>
            <!-- <div class="list">
              <span><b>Depot Tank</b></span>
              <span>{{ secondFormGroup.get("depotTank").value }}</span>
            </div> -->
            <!-- <div class="list">
              <span><b>Truck</b></span>
              <span>{{ thirdFormGroup.get("truck").value }}</span>
            </div> -->
            <div class="list">
              <span><b>Truck Driver</b></span>
              <span>{{ thirdFormGroup.get("truckDriver").value }}</span>
            </div>
            <div class="list">
              <span><b>Volume Loaded at Depot</b></span>
              <span>{{ thirdFormGroup.get("volumeLoadeatdepot").value }}</span>
            </div>
            <div class="list">
              <span><b>liquidHeight
                </b></span>
              <span>{{ thirdFormGroup.get("liquidHeight")?.value }}</span>
            </div>
            <div class="list">
              <span><b>ullage
                </b></span>
              <span>{{ thirdFormGroup.get("ullage")?.value }}</span>
            </div>
            <div class="list">
              <span><b>volume
                </b></span>
              <span>{{ thirdFormGroup.get("volume").value }}</span>
            </div>
            <div class="list">
              <span><b>liquidHeight1
                </b></span>
              <span>{{ thirdFormGroup.get("liquidHeight1").value }}</span>
            </div>
            <div class="list">
              <span><b>ullage1
                </b></span>
              <span>{{ thirdFormGroup.get("ullage1").value }}</span>
            </div>
            <div class="list">
              <span><b>volume1
                </b></span>
              <span>{{ thirdFormGroup.get("volume1").value }}</span>
            </div>
            <div style="display: flex">
              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
              </div>
              <div class="stepper-btn">
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
              <div class="stepper-btn1" style="text-align: right; width: 100%">
                <button mat-button (click)="saveTruckLoad()">Save</button>
              </div>
            </div>

          </mat-step>
        </mat-horizontal-stepper>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>