<ion-header class="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="9">
        <span>Welcome {{ (loggedUser$ | async)?.data?.first_name }}</span>
      </ion-col>
      <ion-col size="3"> <span (click)="logout()">Logout</span></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="signUp-content">
  <div class="signup-wrap" lang="en">
    <div style="padding: 1vh; margin-top: 2vh">
      <div style="margin-bottom: 4vh">
        <div class="login-text-position">
          <img class="main-logo" src="assets/icon/main_icon.png" alt="logo" />
        </div>
      </div>
    </div>
    <div>
      <ion-row>
        <ion-col class="ion-text-center">
           <!-- <ion-button size="full" shape="round" (click)="dsr()" class="button">
            <ion-label>DAILY SURVEYOR REPORT</ion-label>
          </ion-button>  -->

           <!-- <ion-button size="full" shape="round" class="button" (click)="sstqr()">
            <ion-label>SURVEYOR SHORE TANK QUANTITY REPORT</ion-label>
          </ion-button>  -->

          <!-- <ion-button size="full" shape="round" class="button" (click)="tlwb()">
            <ion-label>Truck Load - WAY Bill</ion-label>
          </ion-button> -->
          
          <ion-button size="full" shape="round" class="button" (click)="tds()">
            <ion-label>Truck Discharge - Station</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>

<!-- <ng-template *ngIf="depot$ | async"> </ng-template> -->