<ion-header class="header">
  <ion-toolbar>
    <ion-row>
      <ion-col size="9">
        <ion-icon (click)="goBack()" name="caret-back-outline"></ion-icon>
      </ion-col>
      <ion-col size="3"> <span (click)="logout()">Logout</span></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>
          Dear {{ (loggedUser$ | async)?.data?.first_name }}, please fill the
          required details
        </h2>
        <mat-horizontal-stepper [linear]="isLinear" #stepper1 style="background-color: lightgray; border-radius: 10px">
          <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
            <form [formGroup]="firstFormGroup">
              <!-- <ng-template matStepLabel>Fill out your name</ng-template> -->
              <div>
                <mat-form-field *ngIf="filteredTanks$ | async as filteredTanks">
                  <mat-label>From tank DDL</mat-label>
                  <input type="text" placeholder="Pick one" aria-label="Number" matInput formControlName="tankState"
                    [matAutocomplete]="auto" />
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="
                      onTankChange($event.option.value, filteredTanks)
                    ">
                    <mat-option *ngFor="let option of filteredTanks" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="stepper-btn">
                <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
            <form [formGroup]="secondFormGroup"> 
              <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
           <mat-form-field>
                <mat-label>Free/Water (metres/ft-ins)</mat-label>
                <input type="tel" matInput formControlName="openingTankLevel" required />
                <!-- (change)="
                onInputChange($event, 'openingTankLevel', 'secondFormGroup')
                  "  -->
              </mat-form-field>

              <mat-form-field>
                <mat-label>Total Observed(cubic metres)</mat-label>
                <input type="tel" matInput required formControlName="openingStocksMtons" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Free Water(cubic metres)</mat-label>
                
                <input type="tel" matInput formControlName="openingStocksLtr" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Roof Corr'n(cubic metres)</mat-label>
                <input type="tel" matInput formControlName="volumeRecMtons" required />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Gross Observed(cubic metres)</mat-label>
                <input type="tel" matInput formControlName="volumeRecLtr" required />
              </mat-form-field>
              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Next</button>
              </div>
          
          </form> 
          </mat-step>
          <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup"> 
              <!-- <ng-template matStepLabel>Fill out your address</ng-template> -->
               <mat-form-field> 
                <mat-label>Temp (*C)</mat-label>
                <input type="tel" matInput formControlName="volumneLiftedMtons" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Density(@15*C)</mat-label>
                <input type="tel" matInput required formControlName="volumneLiftedLtrs" />
              </mat-form-field>
             
              <mat-form-field>
                <mat-label>V.C.F ASTM54(B)</mat-label>
                <input type="tel" matInput formControlName="closingTankMM" required />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Gross Standard Cu(Metres @ 15 *C)</mat-label>
                <input type="tel" matInput formControlName="closingStockMtons" required />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Gross Tonnage(M/tons in VAC)</mat-label>
                <input type="tel" matInput formControlName="closingStockLts" required />
              </mat-form-field>
              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="thirdFormGroup.invalid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <!-- <ng-template matStepLabel>Done</ng-template> -->
            <div class="list">
              <span><b>From tank DDL
              </b></span>
              <span>{{ secondFormGroup.get("openingTankLevel").value  | number}}</span>
            </div>
            <div class="list">
              <span><b>Free/Water (metres/ft-ins)</b></span>
              <span>{{ secondFormGroup.get("openingStocksMtons").value  | number}}</span>
            </div>
            <div class="list">
              <span><b>Total Observed(cubic metres)</b></span>
              <span>{{ secondFormGroup.get("openingStocksLtr").value | number}}</span>
            </div>
            <div class="list">
              <span><b>Volume Rec Mtons</b></span>
              <span>{{ secondFormGroup.get("volumeRecMtons").value | number}}</span>
            </div>
            <div class="list">
              <span><b>Volume Rec Ltr</b></span>
              <span>{{ secondFormGroup.get("volumeRecLtr").value | number }}</span>
            </div>
            <div class="list">
              <span><b>Volumne Lifted Mtons</b></span>
              <span>{{ thirdFormGroup.get("volumneLiftedMtons").value | number}}</span>
            </div>
            <div class="list">
              <span><b>Volumne Lifted Ltr</b></span>
              <span>{{ thirdFormGroup.get("volumneLiftedLtrs").value | number }}</span>
            </div>
            <div class="list">
              <span><b>Closing Tank (mm)</b></span>
              <span>{{ thirdFormGroup.get("closingTankMM").value | number }}</span>
            </div>
            <div class="list">
              <span><b>Closing Stock Mtons</b></span>
              <span>{{ thirdFormGroup.get("closingStockMtons").value | number}}</span>
            </div>
            <div class="list">
              <span><b>Closing Stock Ltr</b></span>
              <span>{{ thirdFormGroup.get("closingStockLts").value | number }}</span>
            </div>
         
            <div style="display: flex">
              <div class="stepper-btn">
                <button mat-button matStepperPrevious>Back</button>
              </div>
              <div class="stepper-btn">
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
              <div class="stepper-btn1" style="text-align: right; width: 100%">
                <button mat-button (click)="saveDSR()">Save</button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>